{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>{% trans "Пользователи" %}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{% trans "ID" %}</th>
      <th scope="col">{% trans "Имя пользователя" %}</th>
      <th scope="col">{% trans "Полное имя" %}</th>
      <th scope="col">{% trans "Дата создания" %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
    {% for user in object_list %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name|add:" "|add:user.last_name}}</td>
      <td>{{ user.date_joined }}</td>
      <td><a href="{% url 'users/update' user.id %}">{% trans "Изменить" %}</a>
      <td><a href="{% url 'users/delete' user.id %}">{% trans "Удалить" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
