{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>{% trans "Tasks" %}</h1>
<p><a href="{% url 'task/create' %}"> {% trans "Создать задачу" %} </a></p>
<form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Описание</th>
      <th scope="col">Статус</th>
      <th scope="col">Автор</th>
      <th scope="col">Исполнитель</th>
      <th scope="col">Дата создания</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
    {% for task in object_list %}
    <tr>
      <td>{{ task.name }}</td>
      <td><a href="{% url 'task/detail' task.id %}">{{ task.name }}</a></td>
      <td>{{ task.description }}</td>
      <td>{{ task.status.name }}</td>
      <td>{{ task.author.first_name|add:" "|add:task.author.last_name}}</td>
      <td>{{ task.executor.first_name|add:" "|add:task.executor.last_name}}</td>
      <td>{{ task.created_at }}</td>
      <td><a href="{% url 'task/update' task.id %}">Изменить</a><a href="{% url 'task/delete' task.id %}">Удалить</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}