{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1 class="my-4">{% trans "Изменение задачи" %}</h1>
<form method="post">{% csrf_token %}
    {% for field in form %}
    <div class="my-4 form-group">
    <label for={{ field.id_for_label }}>{{ field.label }}</label>
        {% render_field field type="text" class="form-control">%}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="my-4 btn btn-primary">{% trans "Изменить" %}</button>
</form>
{% endblock %}