{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>{% trans "Tasks" %}</h1>
<p><a href="{% url 'task/create' %}"> {% trans "Создать задачу" %} </a></p>
<form action="" method="get">
  <div class="m-4 form-group">
    <label for={{ filter.form.executor.id_for_label }}> {{ filter.form.executor.label }}</label>
    <select name="{{ filter.form.executor.html_name }}" id="{{ filter.form.executor.id_for_label }}" class="form-select" >
            {% for executor in executors %}
          <option value="{{ executor.id }}">{{ executor.first_name|add:" "|add:executor.last_name }}</option>
          {% endfor %}
   </select></div>
  <div class="m-4 form-group">
    <label for={{ filter.form.status.id_for_label }}> {{ filter.form.status.label }}</label>
    {% render_field filter.form.status type="text" class="form-control">%}
</div>
  <div class="m-4 form-group">
    <label for={{ filter.form.labels.id_for_label }}> {{ filter.form.labels.label }}</label>
    {% render_field filter.form.labels type="text" class="form-control">%}
</div>
   <div class="m-4 form-group">
    <label for={{ filter.form.author.id_for_label }}> {{ filter.form.author.label }}</label>
    {% render_field filter.form.author type="checkbox" class="form-check-input">%}
</div>
  <button type="submit" class="m-4 btn btn-primary">{% trans "Показать" %}</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Описание</th>
      <th scope="col">Статус</th>
      <th scope="col">Автор</th>
      <th scope="col">Исполнитель</th>
      <th scope="col">Дата создания</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
    {% for task in object_list %}
    <tr>
      <td>{{ task.name }}</td>
      <td><a href="{% url 'task/detail' task.id %}">{{ task.name }}</a></td>
      <td>{{ task.description }}</td>
      <td>{{ task.status.name }}</td>
      <td>{{ task.author.first_name|add:" "|add:task.author.last_name}}</td>
      <td>{{ task.executor.first_name|add:" "|add:task.executor.last_name}}</td>
      <td>{{ task.created_at }}</td>
      <td><a href="{% url 'task/update' task.id %}">Изменить</a><a href="{% url 'task/delete' task.id %}">Удалить</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}