{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<button type="submit" class="m-4 btn btn-primary">{% trans "Войти" %}</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}