{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% trans "Вход" %}</h1>
        <div class="my-4 form-group">
            <label for={{ form.username.id_for_label }}>{{ form.username.label }}</label>
            {% render_field form.username type="text" class="form-control" placeholder="Имя пользователя">%}
            {% if form.username.help_text %}
            <small class="form-text text-muted">{{ form.username.help_text }}</small>
          {% endif %}
        </div>
        <div class="my-4 form-group">
            <label for={{ form.password.id_for_label }}>{{ form.password.label }}</label>
            {% render_field form.password type="text" class="form-control" placeholder="Пароль">%}
            {% if form.password.help_text %}
            <small class="form-text text-muted">{{ form.password.help_text }}</small>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Войти" %}</button>
    </div>
</form>
{% endblock %}